html {
    background: #fff;
}

.myapp {
    margin-top: 50px;
    display: flex;
}

.slds-nav-vertical {
    /* background-color: #fff; */
}

.slds-global-header__logo {
    background-image: url(https://www.lightningdesignsystem.com/assets/images/logo.svg);
    background-position: center;
}

.main-panel {
    padding: 20px;
    background-color: #E9E9E9;
}